USE [master]
GO
/****** Object:  Database [FacebookUsers]    Script Date: 10/18/2017 10:58:17 AM ******/
CREATE DATABASE [FacebookUsers]
GO
USE [FacebookUsers]
GO
/****** Object:  Table [dbo].[GioiTinh]    Script Date: 10/18/2017 10:58:17 AM ******/
CREATE TABLE [dbo].[GioiTinh](
	[MaGT] [int] NOT NULL,
	[TenGT] [nvarchar](255) NULL,
	PRIMARY KEY ([MaGT])
)
GO
/****** Object:  Table [dbo].[SinhNhat]    Script Date: 10/18/2017 10:58:17 AM ******/
CREATE TABLE [dbo].[SinhNhat](
	[MaSN] [int] NOT NULL,
	[DangSN] [nvarchar](255) NULL,
	[ThangSN] [int] NULL,
	PRIMARY KEY ([MaSN])
)
GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 10/18/2017 10:58:17 AM ******/
CREATE TABLE [dbo].[ThanhPho](
	[MaCity] [int] NOT NULL,
	[TenCity] [nvarchar](255) NULL,
	PRIMARY KEY ([MaCity])
)
GO
/****** Object:  Table [dbo].[TrangThaiTinhCam]    Script Date: 10/18/2017 10:58:17 AM ******/
CREATE TABLE [dbo].[TrangThaiTinhCam](
	[MaTTTC] [int] NOT NULL,
	[TenTTTC] [nvarchar](255) NULL,
	PRIMARY KEY ([MaTTTC])
)
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/18/2017 10:58:17 AM ******/
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[Sex] [nvarchar](255) NULL,
	[Age] [float] NULL,
	[BirthDay] [datetime] NULL,
	[Hometown] [nvarchar](255) NULL,
	[NowLiving] [nvarchar](255) NULL,
	[SoBanBe] [int] NULL,
	[TrangThaiTinhCam] [nvarchar](255) NULL,
	[Followers] [float] NULL,
	PRIMARY KEY ([UserID])
)
GO
INSERT [dbo].[GioiTinh] ([MaGT], [TenGT]) VALUES (0, N'Nam')
INSERT [dbo].[GioiTinh] ([MaGT], [TenGT]) VALUES (1, N'Nữ')
INSERT [dbo].[SinhNhat] ([MaSN], [DangSN], [ThangSN]) VALUES (1, N'yyyy-01-dd', 1)
INSERT [dbo].[SinhNhat] ([MaSN], [DangSN], [ThangSN]) VALUES (2, N'yyyy-02-dd', 2)
INSERT [dbo].[SinhNhat] ([MaSN], [DangSN], [ThangSN]) VALUES (3, N'yyyy-03-dd', 3)
INSERT [dbo].[ThanhPho] ([MaCity], [TenCity]) VALUES (1, N'Hà Nội')
INSERT [dbo].[ThanhPho] ([MaCity], [TenCity]) VALUES (2, N'Hà Giang')
INSERT [dbo].[ThanhPho] ([MaCity], [TenCity]) VALUES (4, N'Cao Bằng')
INSERT [dbo].[TrangThaiTinhCam] ([MaTTTC], [TenTTTC]) VALUES (1, N'Độc thân')
INSERT [dbo].[TrangThaiTinhCam] ([MaTTTC], [TenTTTC]) VALUES (2, N'Đang hẹn hò')
INSERT [dbo].[TrangThaiTinhCam] ([MaTTTC], [TenTTTC]) VALUES (3, N'Đã đính hôn')
INSERT [dbo].[Users] ([UserID], [UserName], [Sex], [Age], [BirthDay], [Hometown], [NowLiving], [SoBanBe], [TrangThaiTinhCam], [Followers]) VALUES (1, N'Nguyễn Minh Ý', N'Nam', 21, CAST(N'1997-04-15T00:00:00.000' AS DateTime), N'Quảng Ngãi', N'Hồ Chí Minh', 831, N'Đang hẹn hò', 40)
INSERT [dbo].[Users] ([UserID], [UserName], [Sex], [Age], [BirthDay], [Hometown], [NowLiving], [SoBanBe], [TrangThaiTinhCam], [Followers]) VALUES (2, N'Lê Nữ Tố Khuê', N'Nữ', 21, CAST(N'1997-11-01T00:00:00.000' AS DateTime), N'Khánh Hoà', N'Hồ Chí Minh', 476, N'Độc thân', 80)
INSERT [dbo].[Users] ([UserID], [UserName], [Sex], [Age], [BirthDay], [Hometown], [NowLiving], [SoBanBe], [TrangThaiTinhCam], [Followers]) VALUES (3, N'Nguyễn Quang Huy', N'Nam', 21, CAST(N'1997-05-07T00:00:00.000' AS DateTime), N'Quảng Ngãi', N'Hồ Chí Minh', 577, N'Có mối quan hệ phức tạp', 87)
GO
